{% include "headerr.html" %}
{% block content %}

<!-- Main Section -->
<div class="page-container">

	<div class="page-title category-title">
		<!-- <h1>Games </h1> -->

	</div>

	<section id="book_list">




		<div class="grid-shuffle">
			<div class='flash'>
				{% with messages = get_flashed_messages() %}
				{% if messages %}

				<ul>
					{% for message in messages %}
					<li> <strong> {{ message }} </strong> </li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}

			</div>
			<ul id="grid" class="row">

				<a href="{{url_for('addNewItem')}}">

					<button class="btn btn-default ">

						<span aria-hidden="true"></span>Add Item
					</button>
				</a>
				<br>
				{% for i in items %}

				<li class="book-item small-12 medium-6 columns">
					<div class="bk-img">
						<div class="bk-wrapper">
							<div class="bk-book bk-bookdefault">
								<div class="bk-front">
									<div class="bk-cover" style="background-image: url('{{i.imageUrl}}')"></div>
								</div>
								<div class="bk-back"></div>
								<div class="bk-left"></div>
							</div>
						</div>
					</div>

					<div class="item-details">
						<h3 class="book-item_title">{{i.name}}</h3>
						<p class="author">{{i.price}}</p>
						<a href="{{url_for('showItemInfo', categories_id = i.categories_id,item_id = i.id)}}" class="button ">Detalis</a>


					</div>


				</li>
				{% endfor %}

			</ul>
		</div>
	</section>




	{% endblock %}