{% include "headerr.html" %}

{% block content %}

<!-- Main Section -->
<div class="page-container">

    <div class="page-title category-title">
        <!-- <h1>Book Viewer</h1> -->
    </div>

    <section id="book_list">


        <div>

            <ul class="row">


                <li class="book-item small-12 medium-6 columns">


                    <div class="item-details">
                        <h3 class="book-item_title">My name is abdulsalam alhomaidhi </h3>
                        <br>
                        <p class="author">Email : aalhomaidhi0@gmail.com </p>


                    </div>



                </li>

            </ul>
        </div>
    </section>




    {% endblock %}